<p>all the different games will go here</p>

{{#each allGames}}

<h1>{{game_name}}</h1>
<p>{{studio}}</p>
<p>{{description}}</p>
<p>{{platform}}</p>
<button name={{id}} class="review-btn">See the reviews for this game!</button>

{{/each}}

