<div class="row">



  <div class="col blue">
    <div class="col s10 offset-s1 grey">
      <div class="row">

        {{#each allGames}}


        <div class="col s12 m4">

          <div class="card center">

            <div class="card-image">
              <img src={{game_image}} alt="" class="responsive-img">
            </div>
            <div class="card-content">
              <h1 class="flow-text">{{game_name}}</h1>
            </div>
            <p>{{studio}}</p>
            <p>{{description}}</p>
            <p>{{platform}}</p>
            <button name={{id}} class="review-btn">See the reviews for this game!</button>
          </div>
        </div>

        {{/each}}
      </div>
    </div>

  </div>
