{{!-- {{#each myReviews}}

<h3>{{title}}</h3>
<p>{{description}}</p>

<p>{{user_id}}</p>
<p>{{game_id}}</p>

{{/each}} --}}

{{#each myReviews}}
        <div class="col s12 m4">
          <div class="card center">
            <div class="card-image">
            </div>
            <div class="card-content">
              <h1 class="flow-text">Title: {{title}}</h1>
            </div>
            <p>Review Description: {{description}}</p>
            <p>User ID: {{user_id}}</p>
            <p>Game ID: {{game_id}}</p>
            <button name={{id}} class="delete-btn">Delete Review</button>
          </div>
        </div>
{{/each}}